@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FAriS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/bIcY3_3JNqUVRAQQRNVteQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12by3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #eee;
  font-size: 20px;
  height: 100vh;
  color: white;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fffbf5;
  z-index: 99;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
} 

.navbar-link:hover {
  color: #80cc97 !important;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.nav-atividades {
  background: #fffbf5;
  height: 100%;
}

.lista-atividades {
  padding: 5px; 
}

.container {
  max-width: 1060px !important;
}

.row.content-profile {
  height: calc(100% - 56px);
}

.perfil {
  background-color: #80cc97;
  height: 100%;
}