@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FAriS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/bIcY3_3JNqUVRAQQRNVteQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12by3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #eee;
  font-size: 20px;
  height: 100vh;
  color: white;
}

a {
  color: #222 !important;
  text-decoration: none;
}

a:hover, a:visited, 
a:link, a:active {
  text-decoration: none;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fffbf5;
  z-index: 99;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.navbar-link {
  box-shadow: 0 0 0 1px #222;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  margin: 13px 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  padding-left: 1px;
} 

.navbar-link:hover {
  box-shadow: 0 0 0 1px rgb(128, 204, 151);
}

li.navbar-item:nth-child(1) {
  border-right: 1px solid #e2e2e2;
}

.navbar-link:hover {
  color: #80cc97 !important;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.nav-atividades {
  background: #fffbf5;
  height: 100%;
}

.lista-atividades {
  padding: 5px; 
}

.container {
  max-width: 1060px !important;
}

.row.content-profile {
  height: calc(100% - 56px);
}

.perfil {
  background-color: #80cc97;
  height: 100%;
}